/* nav : small viewport
--------------------------------*/
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  background-color: #f90;
  color: #222;
  transition-property: all;
  transition-duration: 250ms;
  z-index: 9999;
}

nav ul{
  padding: 3rem;
  list-style-type: none;
  color: white;
  line-height: 2;
  min-width: 180px;
  display: none;

}

nav.active{
  background-color: #222;
  color: white;
  width: 33.33%;
  min-width: 250px;
  overflow: hidden;
}

nav.active ul{
  display: block;
}

/* nav : small device breakpoint
-----------------------------------------*/
@media all and (max-device-width: 30em) {}

/* nav : medium viewport
--------------------------------*/
@media all and (min-width: 59em){}

/* nav : large viewport
--------------------------------*/
@media all and (min-width: 64em){
  nav{
    background-color: red;
  }
}

/* nav : x-large viewport
--------------------------------*/
@media all and (min-width: 100em){}

/* icons 
--------------------------------*/
i{
  font-style: normal;
  display: inline-block;
  font-size: 1.5rem;
}

/* toggle icons 
--------------------------------*/
i.toggle{
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger:before{
  content: '\2630';
  display: block;
}

.close:before{
  content: '\d7';
}